<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Extractor de Comentarios</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/todos_productos">Todos los Productos</a></li>
            <li><a href="/estadisticas">Estadísticas</a></li>
            <li><a href="/mejores_calificados">Mejores Calificados</a></li>
            <form action="/buscar" method="GET">
                <input type="text" name="keyword" placeholder="Buscar producto...">
                <button type="submit">Buscar</button>
            </form>
        </ul>
    </nav>
    <h1>Estadísticas</h1>
    <!-- Aquí podrías mostrar diferentes estadísticas relacionadas con los comentarios -->
</body>
</html>
